.reminder {
  display: flex;
  width: 92%;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  margin-top: 4px;
  padding-bottom: 2px;
  text-align: center;
}

.text {
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  margin: 3px;
  padding: 3px;
  color: #FFF;
}