.container {
  height: 100%;
  display: grid;
  grid-template-areas: 
    "header header header"
    "sidebar content content";
  grid-template-rows: 10vh 7fr;
  grid-template-columns: minmax(100px, 15vw) minmax(600px, 4fr);
}

