.sidebar-section {
  font-family: 'Roboto';
  grid-area: sidebar;
  margin: 10px 0 10px 0;  
}

.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.btn-new-reminder {
  width: 85%;
  height: 55px;  
  color: #FFF;
  background-color: var(--darkerBlue);
  border: 1px solid var(--darkerBlue);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 500ms ease-out;
  margin-top: 2vh;
}

.btn-new-reminder:hover {
  transform: scale(1.075);
}

.btn-icon {
  font-size: 18px;
  padding: 3px 5px 0 0;
}

.btn-info {
  display: flex;
  place-items: center;
  justify-content: center;
}

.btn-create-reminder {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Roboto';
  color: #FFF;
  border: 0px;
  cursor: pointer;
  margin: 10px;
  background-color: var(--darkerBlue);
  border: 1px solid var(--darkerBlue);
}

.btn-cancel-create-reminder {
  width: 80px;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  font-family: 'Roboto';
  color: var(--darkerBlue);
  border: 0px;
  cursor: pointer;
  margin: 5px;
  background-color: #FFF;
}

.dialog-test {
  width: 500px;
}

.div-date-picker {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.div-date-picker > p {
  margin: 0 10px 0 0;
  font-size: 16px;
}

.custom-date-picker > input {
  padding: 3px 8px;
  border-radius: 5px;
  border-color: #9fc1f5;
}

.div-color-picker {
  display: flex;
  align-items: center;
  margin: 20px 15px 10px 0;
}

.btn-color-picker {
  width: 90px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid var(--darkerBlue);
}

.btn-color-picker:focus {
  outline-color: var(--darkerBlue);
}

.color-picker-swatch {
  width: 40px;
  height: 30px;
  padding: 2px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
}

.color-picker-popover {
  position: absolute;
  z-index: 2;
  margin-top: 22%;
}

.color-picker-cover {
  position: 'fixed';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}